<ion-header>
  <ion-toolbar>
    <ion-title>Task Page</ion-title>
    <ng-container *ngIf="false">
      <ion-button (click)="displayLocalStorage()" class="ion-padding-end" slot="end" color="primary" fill="clear">
        Display Storage
      </ion-button>
      <ion-button (click)="displayLocalProgress()" class="ion-padding-end" slot="end" color="primary" fill="clear">
        Display In Progress
      </ion-button>
      <ion-button (click)="displayLocalCompleted()" class="ion-padding-end" slot="end" color="primary" fill="clear">
        Display Completed
      </ion-button>
    </ng-container>
    <ion-button *ngIf="!sessionEnd && currentTermItem && displayAnswer" class="ion-padding-end" (click)="answer()"
      slot="end" color="primary" fill="clear">
      Submit
    </ion-button>
    <ion-button *ngIf="!sessionEnd && currentTermItem && !displayAnswer" class="ion-padding-end" (click)="check()"
      slot="end" color="primary" fill="clear">
      Display Answer
    </ion-button>
  </ion-toolbar>
  <ion-toolbar class="ion-padding-horizontal">
    <!-- question section -->
    <ng-container *ngIf="!sessionEnd">
      <ng-container *ngIf="currentTermItem">
        <ion-label>
          {{currentTermItem.qaPair[0].question}}
        </ion-label>
        <div *ngIf="displayAnswer" class="rangeSection" slot="end">
          <ion-range [(ngModel)]="userAnswer" [ticks]="true" [snaps]="true" [min]="0" [max]="5">
          </ion-range>
        </div>
      </ng-container>
    </ng-container>
  </ion-toolbar>
  <ion-toolbar class="ion-padding-horizontal">
    <!-- answer section -->
    <ng-container *ngIf="!sessionEnd">
      <ng-container *ngIf="currentTermItem && displayAnswer">
        <ion-label>
          {{currentTermItem.qaPair[0].answer}}
        </ion-label>
        <ion-label slot="end" color="secondary">
          {{userAnswerMessage[userAnswer]}}
        </ion-label>
      </ng-container>
    </ng-container>
  </ion-toolbar>
  <!-- <ion-toolbar class="ion-padding-horizontal">
  </ion-toolbar> -->
  <div *ngIf="!currentTermItem && !sessionEnd">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
</ion-header>

<ion-content>
  <ng-container *ngIf="sessionEnd">
    <!-- Congratulations! You have finished this deck for now. -->
    <div class="centerText">
      <p>Congratulations! You have finished this deck for now.</p>
    </div>
  </ng-container>

  <ng-container *ngIf="!sessionEnd">

    <div class="ionMaxContent" *ngIf="currentTermItem && qList.length>0">
      <div class="ion-padding">
        <!-- <div>{{currentTermItem.id}}</div> -->
        <ion-item lines="none">
          <ion-card *ngIf="currentTermItem.background.length>1">
            <div class="ion-padding" [innerHTML]="currentTermItem.background"></div>
          </ion-card>
        </ion-item>

        <!-- <ion-item color="light">
          {{currentTermItem.qaPair[0].question}}
        </ion-item> -->

        <ng-container *ngIf="currentTermItem.type === 'mu'">
          <ion-item *ngFor="let choiceItem of currentTermItem.wrongAnswer">
            &#8226; {{choiceItem.content}}
          </ion-item>
        </ng-container>

        <!-- <ion-item lines="none" class="answer" *ngIf="currentTermItem.type === 'df'">
          <ion-input class="centerText" #codeInput [(ngModel)]="userCode" placeholder="Your Answer here">
          </ion-input>
        </ion-item>
        <ion-item lines="none" class="answer" *ngIf="currentTermItem.type === 'mu'">
          <ion-input class="centerText" #multiInput [(ngModel)]="userMulti" placeholder="Your selection here"
            maxlength="1"></ion-input>
        </ion-item> -->

        <!-- <ion-item lines="none" *ngIf="displayAnswer">
          <div [innerHTML]="currentTermItem.qaPair[0].answer"></div>
        </ion-item> -->
      </div>
    </div>

    <!-- <div *ngIf="!currentTermItem">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div> -->


    <!-- <div class="bottomText">
      <div class="centerText" *ngIf="displayAnswer">
        {{ userAnswerMessage[userAnswer] }}
      </div>
    </div> -->

    <!-- <div class="bottomSlides">
      <div *ngIf="displayAnswer" class="rangeSection">
        <ion-range [pin]="true" [pinFormatter]="pinFormatter" [(ngModel)]="userAnswer" [ticks]="true" [snaps]="true"
          [min]="0" [max]="5"></ion-range>
      </div>
    </div> -->

    <!-- <div class="bottomButtons">
      <ion-button size="large" class="ion-padding-end" (click)="check()" *ngIf="currentTermItem && !displayAnswer">
        Display Answer
      </ion-button>
      <ion-button size="large" class="ion-padding-end" (click)="answer()" *ngIf="displayAnswer">Submit</ion-button>
    </div> -->

    <!-- <div class="bottomRightButtons">
      <ion-button size="large" class="ion-padding-end" (click)="this.los.resetAnswerAndProgress()">
        More
      </ion-button>
    </div> -->

    <div class="ion-padding-bottom">
    </div>
  </ng-container>
</ion-content>
<ion-footer class="ion-no-border">
  <ng-container *ngIf="!sessionEnd && currentTermItem && qList.length>0">
    <ion-button size="small" fill="clear" class="ion-padding-horizontal">
      {{currentTermItem.id}}
    </ion-button>
  </ng-container>
</ion-footer>