<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ng-container *ngIf="false">
      <!-- test purpose -->
      <ion-button (click)="displayLocalStorage()" class="ion-padding-end" slot="end" color="primary" fill="clear">
        Display Storage
      </ion-button>
      <ion-button (click)="displayLocalProgress()" class="ion-padding-end" slot="end" color="primary" fill="clear">
        Display In Progress
      </ion-button>
      <ion-button (click)="displayLocalCompleted()" class="ion-padding-end" slot="end" color="primary" fill="clear">
        Display Completed
      </ion-button>
      <ion-button (click)="currentTermItemDisplay()" class="ion-padding-end" slot="end" color="primary"
        fill="clear">Current Term</ion-button>
      <ion-button (click)="clearCache()" class="ion-padding-end" slot="end" color="primary" fill="clear">clear
        cache</ion-button>
    </ng-container>
    <ng-container>
      <ion-button class="ion-padding-end" slot="end" color="primary" fill="clear" id="helpButton">Help</ion-button>
      <ion-popover trigger="helpButton" triggerAction="hover" size="auto">
        <ng-template>
          <ion-content class="ion-padding">

            <h3>This is a flashcard question website.</h3>
            <p>The question shows up first.</p>
            <p>You can <b>slide right/click on the card to see the answer</b>.</p>

            <h3>After you see the answer.</h3>
            <p>Select a number that best describes how well you can answer the question.</p>
            <p>Example:</p>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col *ngFor="let item of emotionSVG; let index = index" size="2">
                  <ion-button fill="clear">
                    <img src="{{item.address}}" class="{{item.class}}">
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>


            <p>Hover over one of the buttons to see a piece of text describing the number:</p>
            <p>Example:</p>
            <ion-label color="secondary">
              'correct response recalled with serious difficulty - 3'</ion-label>
            <p>Click on one of the buttons to submit your answer.</p>

          </ion-content>
        </ng-template>
      </ion-popover>

    </ng-container>
  </ion-toolbar>
  <div *ngIf="!sessionEnd">
    <ion-progress-bar [value]="todayProgress"></ion-progress-bar>
  </div>
</ion-header>
<ion-content>


  <ion-slides (ionSlideReachEnd)="seeAnswer()" (click)="slideOnClick()" [options]="slideOpts" id="click-trigger"
    #slides>
    <ion-slide>
      <ion-card *ngIf="currentTermItem && qList.length>0" color="secondary">
        <ion-card-header>
          <ion-card-title>Question</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{currentTermItem.qaPair[0].question}}

          <ng-container *ngIf="currentTermItem.type === 'mu'">
            <ion-item *ngFor="let choiceItem of currentTermItem.wrongAnswer">
              &#8226; {{choiceItem.content}}
            </ion-item>
          </ng-container>
        </ion-card-content>

        <ion-card-header *ngIf="currentTermItem.background.length>0">
          <ion-card-title>Focus</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="currentTermItem.background.length>0">
          <span class="ion-padding" [innerHTML]="currentTermItem.background"></span>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="sessionEnd" color="primary">
        <ion-card-header>
          <ion-card-title>Congratulations! You have finished today's tasks.</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card *ngIf="currentTermItem && qList.length>0" color="success">
        <ion-card-header>
          <ion-card-title>Answer</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{currentTermItem.qaPair[0].answer}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer class="ion-no-border">

  <ion-grid *ngIf="!sessionEnd && currentTermItem && displayAnswer">
    <ion-row>
      <ion-col>
        <ion-label>
          How well do you remember the answer?
          <ion-icon id="selectionHelp" color="primary" name="information-circle-outline"></ion-icon>
        </ion-label>
      </ion-col>
      <ion-popover trigger="selectionHelp" triggerAction="hover" side="top" alignment="center">
        <ng-template>
          <ion-content class="ion-padding">
            Click on one of the six buttons to see which one best matches your understanding of the question.
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col *ngFor="let item of emotionSVG; let index = index" size="2">
                  <ion-button fill="clear">
                    <img src="{{item.address}}" class="{{item.class}}">
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-row>
    <ion-row>
      <ion-col><ion-label color="medium">{{userAnswerMessage[hoverIndex]}}</ion-label></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button fill="clear" disabled="{{hoverIndex == 6}}" (click)="answer()">Submit</ion-button></ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let item of emotionSVG; let index = index" size="2">
        <!-- <ion-button fill="clear" (mouseover)="buttonSection(index)" (mouseout)="buttonAway()" (click)="answer()">
          <img src="{{item.address}}" class="{{item.class}}">
        </ion-button> -->
        <ion-button *ngIf="index == hoverIndex" fill="solid" (click)="buttonSection(index)">
          <img src="{{item.address}}" class="{{item.class}}">
        </ion-button>

        <ion-button *ngIf="index != hoverIndex" fill="clear" (click)="buttonSection(index)">
          <img src="{{item.address}}" class="{{item.class}}">
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="auto">
        <ion-item>
          <ion-checkbox slot="start" [(ngModel)]="confirmMessage"
            (ionChange)="updateSelectionCheckBox()"></ion-checkbox>
          <ion-label color="medium">Hide confirmation message.</ion-label>
        </ion-item>
      </ion-col>
    </ion-row> -->
  </ion-grid>
  <div *ngIf="!currentTermItem && !sessionEnd">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
</ion-footer>