.answer {
    color: #3880ff;
}

ion-range {
    --bar-background: #a2d2ff;
    --bar-background-active: #0083f6;
}

.rangeSection {
    // left: 50%;
    // transform: translate(50%, 0);
    width:40%;
}
.submitSection {
    // position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.backgroundMaterial{
    border-style: solid;
}
