<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Website Consent Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">Project title: The Use of Spaced Repetition Algorithm in
        Learning MIPS</span></strong><br>&nbsp;<strong><span style="font-size:16px;line-height:115%;">Ethics ID:
        H22-03227</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">&nbsp;</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">Principal Investigator:</span></strong><span
      style="font-size:16px;line-height:115%;">&nbsp;<br>Abdallah Mohamed</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">Associate Professor of Teaching</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">Computer Science, Math, Physics, and Stats Dept., Faculty of
      Science&nbsp;</span><br><span style="font-size:16px;line-height:115%;">UBC Okanagan</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">abdallah.mohamed@ubc.ca,</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">&nbsp;</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">Additional Study Team Member:&nbsp;</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">Barbara Komlos&nbsp;</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">Educational Consultant for Curriculum &amp; Faculty
      Development&nbsp;</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">UBC Okanagan&nbsp;</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">barbara.komlos@ubc.ca</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">&nbsp;</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">A</span></strong><strong><span
        style="font-size:16px;line-height:115%;">dditional Study Team Member:</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">Larry Gu</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">Undergraduate Student, Bachelor of Science, Computer Science</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">UBC Okanagan</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">larryg17@student.ubc.ca,</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">&nbsp;</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">Sponsor:</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">This research does not have funding.</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">Purpose:</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">You are being invited to participate in this research study for an
      undergraduate Honours Thesis project to assess the effectiveness of&nbsp;</span><span
      style="font-size:16px;line-height:115%;">spa</span><span style="font-size:16px;line-height:115%;">ced repetition
      algorithm in learning MIPS in COSC211. Responses collected from participants will provide insights on the teaching
      methods used in this course. Responses will be analyzed in order to identify strengths, weaknesses, opportunities,
      and threats related to the use of customizable learning material in this course, and hence help the instructor
      (i.e., the principal investigator) improve future offerings of this course as well as other courses that use the
      same material and teaching technique.&nbsp;</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">Study Procedures:</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">Barbara Komlos, a consultant from the Center of Teaching and Learning
      (CTL) at UBC-O, has explained this study to you and answered questions. No grades or other incentives will be
      interfering with this research process. If you want to participate in the study, you will be completing a list of
      flashcard questions on a website provided by the study team every day. It will take approximately one hour per
      week to complete the tasks which are designed to help you study MIPS. You can access the website anytime in
      Term2.&nbsp;</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">You need to use an email and password for registration and login. You
      need to accept a verification link which will be sent to your email before you can login. Please use an email with
      no reference to your real identity so that data collection is completely anonymous. The online portal will not
      collect any data whatsoever about your identities (including names, IDs, or IP addresses). If you consent to
      provide performance data, your responses cannot be linked back to you.</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">The collected data will be stored for 5 years so that it can be
      compared to future similar studies. As indicated above, an undergraduate Honours Thesis student is part of the
      study team; he helped with preparing the questionnaire and will help analyze the collected
      data.&nbsp;</span><br>&nbsp;
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">Study Results:</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">Your performance data will be used for the purpose of research
      analysis. All students in the class will be given an opportunity to participate in the study by registering and
      completing tasks on the online portal. If you do not provide consent, you can still access the website, and no
      performance data will be collected.</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">The main study findings may be published in conference proceedings or
      journal articles.&nbsp;</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">Potential Risks:</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">We do not believe there are any potential risks to
      participants.&nbsp;</span>
  </p>
  <ul style="list-style-type: disc;margin-left:11.3px;">
    <li><span style="line-height:115%;font-size:16px;">Your participation in the study is voluntarily and will not
        affect your course experience in any way.&nbsp;</span></li>
    <li><span style="line-height:115%;font-family:Calibri;font-size:12.0pt;">No grades or other incentives will be
        interfering with this research process. In other words, you will not be penalized or rewarded for your
        participation.</span></li>
    <li><span style="line-height:115%;font-family:Calibri;font-size:12.0pt;">No identifiable data will be collected. The
        study team will collect the anonymous user performance data on the website. All data on the server will be
        removed after downloading them and be stored securely by the study team.</span></li>
    <li><span style="line-height:115%;font-family:Calibri;font-size:12.0pt;">While the instructor will have access to
        the performance data, he will neither know who consent nor know who is accessing the portal. He will not be able
        to link the data back to you.&nbsp;</span></li>
    <li><span style="line-height:115%;font-family:Calibri;font-size:12.0pt;">Barbara Komlos from the Center of Teaching
        and Learning (CTL) will be overseeing the study team to make sure the data collection of the survey is done on
        UBC Qualtrics. The study team will set up the online survey so that it does not collect any identifiable data.
        After data is downloaded from the Qualtrics server, it will be removed from there stored securely by the study
        team.&nbsp;</span><span style="line-height:115%;">You can still access the website even if you do not consent to
        provide performance data. To withdraw your consent, go to account page and click on consent information section.
        Once you withdraw your consent, all collections of your performance data will be removed.</span></li>
  </ul>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">Potential Benefits:</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">Your performance will be used to refine and improve the web portal to
      be used in this course and similar ones. This might be helpful for you and others who may use similar online
      portal in the future.</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">Conflict of Interest:</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">Due to the dual role as both an instructor and a researcher, the PI
      will only have access to anonymized data after the course appeal data has passed, and he will not know who
      participate and/or consent to provide data in the study. In his role as an instructor, he wants to improve the
      system so that it can be used for future course offerings. This does not conflict with his researcher&apos;s role
      as analyzing students&rsquo; feedback, whether positive or negative, can help improve the
      system.&nbsp;</span><br>&nbsp;<br><strong><span
        style="font-size:16px;line-height:115%;">Confidentiality:</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">Anonymized performance data will be store at Firestore Database from
      https://firebase.google.com/. Only the team members listed above will have access to the anonymized data.
      Collected data will be securely stored on UBC password-protected laptop for 5 years following any publication(s)
      and then securely destroyed.&nbsp;</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;"><br>Contact for information about the
        study:</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">If you have any questions or concerns about what we are asking of
      you, please contact Barbara Komlos (Barbara.komlos@ubc.ca, 250-807-8683).</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <br><strong><span style="font-size:16px;line-height:115%;">Contact for concerns about the rights of research
        subjects:</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">If you have any concerns or complaints about your rights as a
      research participant and/or your experiences while participating in this study, contact the Research Participant
      Complaint Line in the UBC Office of Research Ethics at 1-877-822-8598 or the UBC Okanagan Research Services Office
      at 250-807-8832. It is also possible to contact the Research Participant Complaint Line by email
      (RSIL@ors.ubc.ca). Please reference the study number (</span><span
      style="font-size:16px;line-height:115%;">H21-02899</span><span style="font-size:16px;line-height:115%;">) when
      contacting the Complaint Line so the staff can better assist you.</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">&nbsp;</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <strong><span style="font-size:16px;line-height:115%;">Consent:</span></strong>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">Your participation in this study is entirely voluntary and you may
      refuse to participate or withdraw from the study at any time without jeopardy to your class standing or course
      grades. Please refer to the Potential Risks section above for information on how to withdraw your consent.</span>
  </p>
  <table style="border: none;border-collapse:collapse;">
    <tbody>
      <tr>
        <td style="width: 47.6pt;padding: 0cm 5.4pt;vertical-align: top;">
          <!-- <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
            <span
              style='font-size:16px;line-height:115%;font-family:"Segoe UI Symbol",sans-serif;color:black;'>☐</span><strong><span
                style="font-size:16px;line-height:115%;">&nbsp;</span></strong>
          </p> -->
        </td>
        <td style="width: 420.45pt;padding: 0cm 5.4pt;vertical-align: top;">
          <!-- <p
            style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
            <span style="font-size:16px;line-height:115%;">By marking this box and completing the survey, you are
              confirming that you have read and understood this consent form, and you consent to participate in this
              study.</span>
          </p> -->

          <ion-item>
            <ion-checkbox slot="start" [(ngModel)]="consent" (ionChange)="consentOnChange()"></ion-checkbox>
            <ion-label color="primary">By marking this box and completing tasks on the website, <br>
              you are confirming that you have read and understood this consent form, <br>
              and you consent to participate in this study.</ion-label>
          </ion-item>
        </td>
      </tr>
    </tbody>
  </table>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">&nbsp;</span>
  </p>
  <p
    style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <span style="font-size:16px;line-height:115%;">It is recommended that you print a copy of (or download) the consent
      form for your records. You can do this by Right Click -> Print... -> Save&nbsp;</span>
  </p>


</ion-content>