<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="currentSeg" size="large">
      <ion-segment-button value="demo1">
        Demo1
      </ion-segment-button>
      <ion-segment-button value="demo2">
        Demo2
      </ion-segment-button>
      <ion-segment-button value="add">
        Add
      </ion-segment-button>
      <ion-segment-button value="browse">
        Browse
      </ion-segment-button>
      <ion-segment-button value="stats">
        Stats
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="currentSeg === 'demo1'">
    <app-demo1></app-demo1>
  </ng-container>
  <ng-container *ngIf="currentSeg === 'demo2'">
    <app-demo2></app-demo2>
  </ng-container>
  <ng-container *ngIf="currentSeg === 'add'">
    <app-add></app-add>
  </ng-container>
</ion-content>