<ion-header>
  <ion-toolbar>
    <ion-segment value="decks" size="large">
      <ion-segment-button value="decks">
        Decks
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Add
      </ion-segment-button>
      <ion-segment-button value="browse">
        Browse
      </ion-segment-button>
      <ion-segment-button value="stats">
        Stats
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ionMaxContent">
    <div class="centerText">
      <p>A database is</p>
      <ion-item-divider>
      </ion-item-divider>
      <p>the data stored and a database system is the software that manages the data</p>
    </div>
    
  </div>
  <div class="bottomLeftButtons">
    <ion-button size="large" class="ion-padding-end">
      Back
    </ion-button>
  </div>
  <div class="bottomButtons">
    <!-- the list of buttons indicating how were the user remembers the term -->
    <ion-button size="large" class="ion-padding-end">
      Again
    </ion-button>
    <ion-button size="large" class="ion-padding-end">
      Hard
    </ion-button>
    <ion-button size="large" class="ion-padding-end">
      Good
    </ion-button>
    <ion-button size="large" class="ion-padding-end">
      Easy
    </ion-button>
  </div>
  <div class="bottomRightButtons">
    <ion-button size="large" class="ion-padding-end">
      More
    </ion-button>
  </div>

</ion-content>