<ion-header>
  <ion-toolbar>
    <ion-title>User Profile</ion-title>
    <ion-button *ngIf="!this.aus.isLogin()" class="ion-padding-end" slot="end" color="primary" fill="clear"
      routerLink="/tabs/account/register">
      Sign Up
    </ion-button>
    <ion-button *ngIf="!this.aus.isLogin()" class="ion-padding-end" slot="end" color="primary" fill="clear"
      routerLink="/tabs/account/login">
      Sign In
    </ion-button>
    <ion-button *ngIf="this.aus.isLogin()" class="ion-padding-end" slot="end" color="primary" fill="clear"
      (click)='this.aus.signOut()'>
      Sign Out
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ionMaxContent">
    <div class="main-content">
      <!-- Header -->
      <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
        style="min-height: 600px; background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-999"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <!-- logged in -->
              <ng-container *ngIf="this.aus.isLogin()">
                <h1 class="display-2 text-white">
                  Hello, {{this.aus.getUserEmail()}}
                </h1>
                <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made here.
                </p>
              </ng-container>
              <!-- not logged in -->
              <ng-container *ngIf="!this.aus.isLogin()">
                <h1 class="display-2 text-white">
                  Hello
                </h1>
                <p class="text-white mt-0 mb-5">Sign in to continue</p>
              </ng-container>
              <!-- <a href="#!" class="btn btn-info">Edit profile</a> -->
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <div class="container-fluid mt--7">
        <div class="row">
          <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          </div>
          <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">My account</h3>
                  </div>
                  <div class="col-4 text-right">
                    <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div *ngIf="this.aus.isLogin()">
                  <ng-container *ngIf="this.aus.isAdmin()">
                    <!-- admin session -->
                    <div>
                      <ion-button routerLink="/tabs/account/admin/browse">Release Question</ion-button>
                    </div>
                    <div>
                      <ion-button routerLink="/tabs/account/admin/question">Add Question</ion-button>
                    </div>
                    <div>
                      <ion-button routerLink="/tabs/account/admin/session">Manage Session</ion-button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!this.aus.isAdmin()">
                    <!-- user session -->
                    <ng-container *ngIf="sList">
                      <!-- if the sList is ready -->
                      <ng-container *ngIf="this.sessionList">
                        <ion-label>You are registered in the following session(s):</ion-label>
                        <div></div>
                        <div *ngFor="let item of this.sessionList">
                          <ion-label>{{item.sCode + ' '+ item.sNumber + ' ' + item.sTime}}</ion-label>
                        </div>

                      </ng-container>
                      <ng-container *ngIf="!this.sessionList">
                        <ion-label>No Session Selected</ion-label>
                        <ion-select [(ngModel)]="sessionId" interface="action-sheet" placeholder="Click here to select">
                          <ion-select-option *ngFor="let item of sList" value="{{item.id}}">{{item.sCode + ' '+
                            item.sNumber + ' ' + item.sTime}}</ion-select-option>
                        </ion-select>
                        <ion-toolbar>
                          <ion-button slot="end" (click)="joinSession()">Join Session</ion-button>
                        </ion-toolbar>
                      </ng-container>
                      
                    </ng-container>
                    <ng-container *ngIf="!sList">
                      <!-- if the sList is not ready -->
                      <ion-progress-bar type="indeterminate"></ion-progress-bar>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>