<ion-header>
  <ion-toolbar>
    <ion-title>addQuestion</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content>
  <div class="ionMaxContent">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button fill="clear" disable="true" class="ionButtonText">
            Question Type
          </ion-button>
          <ion-button (click)="displayModal()">
            Basic
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" disable="true" class="ionButtonText">
            Course
          </ion-button>
          <ion-button>
            COSC 304
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ckeditor [editor]="Editor" data="<p>Term</p>" class="ion-padding"></ckeditor>
    <ckeditor [editor]="Editor" data="<p>Definition</p>" class="ion-padding"></ckeditor>
  </div>
  <div class="bottomButtons">
    <ion-button size="large" class="ion-padding-end" (click)="addDataToDataBase()">
      Add
    </ion-button>
  </div>
</ion-content>