<ion-header>
  <ion-toolbar>
    <ion-title>New Question</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content>
  <div class="ionMaxContent">
    <div class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-label>Question Type</ion-label>
              <ion-select (ionChange)="updateEditorField()" [(ngModel)]="qType" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="ba">Basic</ion-select-option>
                <ion-select-option value="mu">Multiple Choice</ion-select-option>
                <ion-select-option value="co">Coding</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="2">
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label>Course</ion-label>
              <ion-select [(ngModel)]="qCourse" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="cosc304">COSC 304</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="2">
          </ion-col>
        </ion-row>
      </ion-grid>
      <ckeditor #editorQuestion [editor]="Editor" data="<p>Term:&nbsp;</p>" class="ion-padding"></ckeditor>
      <ckeditor #editorAnswer [editor]="Editor" data="<p>Definition:&nbsp;</p>" class="ion-padding"></ckeditor>
      <ckeditor #editorDescription [editor]="Editor" data="<p>Description:&nbsp;</p>" class="ion-padding"></ckeditor>
    </div>
  </div>
  <div class="bottomButtons">
    <ion-button size="large" class="ion-padding-end" (click)="addDataToDataBase()">
      Add
    </ion-button>
  </div>
</ion-content>