<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Released Question</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-select *ngIf="sList" (ionChange)="updateQuestionData()" [(ngModel)]="sessionId" interface="action-sheet"
      placeholder="Click here to select session">
      <ion-select-option *ngFor="let item of sList" value="{{item.id}}">{{item.sCode + ' '+
        item.sNumber + ' ' + item.sTime}}</ion-select-option>
    </ion-select>
    <ion-segment *ngIf="questionList" [(ngModel)]="currentSeg" (ionChange)="updateQuestionList()">
      <ion-segment-button value="nr">
        <ion-label>Hidden</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ir">
        <ion-label>Released</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- need session component to sort questionList -->
  <ng-container *ngIf="!sList">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-container>
  <div class="ionMaxContent" *ngIf="sList">
    <ion-item *ngFor="let item of questionList">
      <div [innerHTML]="item.description"></div>
      <ion-checkbox slot="start" [(ngModel)]="item.isChecked"></ion-checkbox>
    </ion-item>
    <ion-button class="ion-padding" *ngIf="questionList" (click)="changeState()">Hide/Release The Selected Question</ion-button>
  </div>

</ion-content>